@import '../../../../styles/variables';

.container {
  height: 435px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.25s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-15px);
  }
}

.title {
  margin: 25px 0;
}

.price {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 15px;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 10px;

  svg {
    color: $black;
    padding: 0;

    &:first-child {
      border: none;
    }
  }

  &Colored {
    background-color: #fef0f0;

    svg {
      fill: #ff5959;
    }
  }
}

.image {
  width: 250px;
  height: 210px;
  cursor: pointer;
}

.button {
  height: 50px;
  background-color: $white;
  border-radius: 15px;
}
