@import '../../styles/variables';

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 67px;
  row-gap: 75px;

  @media screen and (max-width: $screen-lg) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: auto;
  }

  @media screen and (max-width: $screen-md) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: auto;
  }

  @media screen and (max-width: $screen-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}
