@import '../../styles/variables';

.container {
  background-color: $white;
}

.activity {
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.button {
  background-color: #a5d364;
  border-radius: 15px;
  padding: 10px 20px;
}
