// Colors
$light-gray: #e9e9e9;
$dark-gray: #9b9b9b;
$body-bg: #99e8f3;
$white: #fff;
$black: #000;

// Fonts
$inter: 'Inter';
$font-bold: 700;
$font-esm: 15px;
$font-sm: 20px;
$font-md: 24px;
$font-bg: 32px;

// SVG
$fill-color: $black;

// Effects
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$transition: 0.25s ease-in;

// Media queries
$screen-esm: 300px;
$screen-sm: 550px;
$screen-md: 1080px;
$screen-lg: 1920px;
