@import '../../styles/variables';

.img {
  display: flex;
  justify-content: center;

  @media screen and (max-width: $screen-md) {
    display: none;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 67px;
  row-gap: 75px;

  @media screen and (max-width: $screen-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $screen-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $screen-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.errorMsg {
  text-align: center;
}

.pagination {
  margin-top: 100px;
  text-align: center;
}
