@import '../../styles/variables';

.logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.users {
  display: flex;
  align-items: center;
  gap: 75px;

  &RouteBtns {
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: $screen-esm) {
      gap: 20px;
    }
  }

  @media screen and (max-width: $screen-esm) {
    gap: 50px;

    svg {
      height: 25px;
    }
  }
}
